<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index.css">
    <title>Мои задачи</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
</head>

<body class="text-white bg-dark">
    <div class= "container">
        <div class="row justify-content-between">
            <div class="col-auto custom-text fs-1 fs-md-2 fs-lg-3">Мои задачи </div>
            <div class="col-auto custom-text fs-1 fs-md-2 fs-lg-3">RU</div>
        </div>
    </div>

    <div class="container mt-4 ramka">
        <div class="row justify-content-around inside">
          <div class="col-auto fs-3 fs-md-4 fs-lg-5">
            <p>Управляй своим временем</p>
            <ul class="fs-6 fs-md-6 fs-lg-7">
              <li>Создавайте и редактируйте задачи</li>
              <li>Фокусируйтесь на одной задаче за раз</li>
              <li>Выполняйте и закрывайте задачи одну за одной</li>
              <li>Почувствуйте, как ваша жизнь становится продуктивнее</li>
            </ul>
          </div>
          <div class="col-auto d-flex justify-content-center align-items-center">
            <a href = "auth.html"><button class="btn btn-b btn-primary">Войти</button></a>
          </div>
        </div>
    </div>

    <div class= "container interface">
        <div class="row justify-content-between">
            <div class="col-auto custom-text fs-3 fs-md-4 fs-lg-5">
                <h2 class="toggle-text">Основные функции <span class="toggle-icon">+</span></h2>
                <div class = "ram-text fs-6 fs-md-6 fs-lg-7">
                    Создание задач
                    <ol>
                        <li>Войдите в систему с помощью вашего логина и пароля.</li>
                        <li>На главной странице нажмите на кнопку "Создать задачу".</li>
                        <li>Заполните форму создания задачи.</li>
                    </ol>
                    Редактирование задач
                    <ol>
                        <li>Войдите в систему.</li>
                        <li>На главной странице выберите задачу, которую хотите отредактировать.</li>
                        <li>Нажмите на кнопку "Редактировать" рядом с задачей.</li>
                        <li>Внесите необходимые изменения в форму редактирования задачи.</li>
                        <li>Нажмите кнопку "Сохранить".</li>
                    </ol>
                    Удаление задач
                    <ol>
                        <li>Войдите в систему.</li>
                        <li>На главной странице выберите задачу, которую хотите удалить.</li>
                        <li>Нажмите на кнопку "Удалить" рядом с задачей.</li>
                        <li>Подтвердите удаление задачи в появившемся диалоговом окне.</li>
                    </ol>
                    Отслеживание статуса задач
                    <ol>
                        <li>Войдите в систему.</li>
                        <li>На главной странице вы можете видеть список всех ваших задач с их текущими статусами (текущие, завершённые).</li>
                        <li>Для более детального просмотра выберите конкретную задачу.</li>
                    </ol>
                    Уведомления и напоминания
                    <ol>
                        <li>Уведомления: Вы будете получать уведомления о новых задачах и изменениях в существующих задачах.</li>
                        <li>Напоминания: Приложение будет напоминать вам о сроках выполнения задач.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class= "container interface">
        <div class="row justify-content-between">
            <div class="col-auto custom-text fs-3 fs-md-4 fs-lg-5">
                Интерфейс и удобство использования
                <div class = "fs-6 fs-md-6 fs-lg-7" style="color: white">
                    <ul>
                        <li>Приложение поддерживает адаптивный дизайн, что позволяет работать с ним как на настольных компьютерах, так и на мобильных устройствах.</li>
                        <li>Приложение поддерживает несколько языков. Вы можете выбрать русский или английский язык.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class= "container bottom">
        <div class="row justify-content-between">
            <div class = "fs-6 fs-md-7 fs-lg-8">
                Менеджер задач создан для упрощения управления вашими задачами. 
                Мы стремимся предоставить вам интуитивно понятный и функциональный инструмент. 
                Если у вас возникнут вопросы или проблемы, пожалуйста, свяжитесь с нашей службой поддержки: 
                <a href="tg://resolve?domain=@qz_qaz" style="color: white"> @qz_qaz</a>
            </div>
        </div>
    </div>

    <script src="static/index.js" defer></script> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>

</html>